<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000" >
  <title>PeasyNotes</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
  <header>
    <h2>PeasyNotes</h2>
  </header>
  <h1>✍️</h1>
  <p>Take notes anywhere. <br /> No account needed.</p>
  
  
 <div class="start">
   <a href="/note"> <button> Get Started</button> </a>
 </div>
 
 <footer>
   <h3>👩‍💻 Coded by Josias Aurel</h3>
 </footer>

<script src="text/javascript">
if (!(localStorage.getItem("notes"))) {
	localStorage.setItem("notes", JSON.stringify([
		"SGVsbG8gd29ybGQ="
	]))
} else {
	console.log("Initialized")
}

</script>
 
</body>
</html>
