<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#000">
  <title>PeasyNotes - Note</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  
</head>

<body>
  <p>{{text}}</p>
  <style type="text/css" media="all">
    body {
      font-family: Arial, monospace;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</body>
</html>
